{% extends "base.html" %}
{% block content %}

<h1>{{data.0.name}}</h1>
<h3><a href="/client/{{data.0.client_id.id}}">{{data.0.client_id.name}}</a></h3>
<hr>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3023.737167075845!2d-74.00540694856676!3d40.72380214472799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1511818541860" width="100%" height="300px" frameborder="0" style="border:0"></iframe>

[DESCRIPTION]<br>
[LOCATION, GMAP]<br>
<hr>
<div>
        <button class="btn btn-secondary" type="submit">add commit</button>
        <button class="btn btn-secondary" type="submit">sign off</button>
</div>

<hr>

<h5>Deliverables</h5>
<div class="card" style="width: 100%;">
        <div class="card-body">
                        
            <p class="card-text">
                <div><h3>Round: 3</h3></div>
                {% for commit in data.0.commits %}
                {% if commit.commit_type == 'deliverable' %}
                {% if commit.commit_round == 3 %}
                <div style="display: inline-block; border-radius: 5px; width:150px; height:150px;overflow:hidden;">
                    <a href="{{ url_for('static', filename=commit.deliverable) }}"><img style="width:500px; height:auto;" src="{{ url_for('static', filename=commit.deliverable) }}"></a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                <br>

                <div><h3>Round: 2</h3></div>
                {% for commit in data.0.commits %}
                {% if commit.commit_type == 'deliverable' %}
                {% if commit.commit_round == 2 %}
                
                <div style="display: inline-block; border-radius: 5px; width:150px; height:150px;overflow:hidden;">
                        <a href="{{ url_for('static', filename=commit.deliverable) }}"><img style="width:500px; height:auto;" src="{{ url_for('static', filename=commit.deliverable) }}"></a>
                    </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                <br>

                <div><h3>Round: 1</h3></div>
                {% for commit in data.0.commits %}
                {% if commit.commit_type == 'deliverable' %}
                {% if commit.commit_round == 1 %}
                
                <div style="display: inline-block; border-radius: 5px; width:150px; height:150px;overflow:hidden;">
                        <a href="{{ url_for('static', filename=commit.deliverable) }}"><img style="width:500px; height:auto;" src="{{ url_for('static', filename=commit.deliverable) }}"></a>
                    </div>
                {% endif %}
                {% endif %}
                {% endfor %}

            </p>
        </div>
    </div>
    <br>

    <h5>Contributed</h5>
    <div class="card" style="width: 100%;">
            <div class="card-body">
                            
                <p class="card-text">
                    {% for user in data.0.users %}
                    <div style="display:inline-block; border-radius: 5px; height:50px;width:50px;border-color:lightgray;border-style: solid;border-width: 1px;overflow:hidden">
                    <a href="/user/{{user.id}}"><img style="width:50px; height:50px;" src="{{ url_for('static', filename=user.picture) }}"></a>
                </div>
                    {% endfor %}
    
                </p>
            </div>
        </div>
        <br>

<h5>Latest Commits</h5>
<div class="card" style="width: 100%;">
    <div class="card-body">   
        <p class="card-text">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">id</th>
                <th scope="col">user</th>
                <th scope="col">date</th>
                <th scope="col">type</th>
                <th scope="col">round</th>
                <th scope="col">deliverable</th>
                </tr>
            </thead>
            <tbody>

            {% for column, value in data.0.items() %}
            {% if column == 'commits'%}
            {% if column|length > 0 %}
                {% for commit in value %}
                {% if commit.expired == False %}
                    <tr>
                    <th scope="row"><a href="/commit/{{commit.id}}">{{commit.id}}</a></th>
                    <td><a href="/user/{{commit.user_id.id}}">{{commit.user_id.name}}</a></td>
                    <td>{{commit.subdate}}</td>
                    <td>{{commit.commit_type}}</td>
                    <td>{{commit.commit_round}}</td>
                    <td>{{commit.deliverable}}</td>
                    </tr>
                {% endif %}
                {% endfor %}
            {% endif %}
            {% endif %}
            {% endfor %}

            </tbody>
        </table>
        </p>
    </div>
</div>
<br>
<h5>Reference</h5>
<div class="card" style="width: 100%;">
        <div class="card-body">
                        
            <p class="card-text">
                {% for commit in data.0.commits %}
                {% if commit.commit_type == 'reference' %}
                <div style="display: inline-block; border-radius: 5px; width:150px; height:150px;overflow:hidden;">
                    <a href="{{ url_for('static', filename=commit.deliverable) }}"><img style="width:500px; height:auto;" src="{{ url_for('static', filename=commit.deliverable) }}"></a>
                </div>
                {% endif %}
                {% endfor %}

            </p>
        </div>
    </div>
    <br>






        <h5>Comments</h5>

        <!-- comments active !-->
        <div class="card" style="width: 100%;">
            <div class="card-body">
                Active
                <p class="card-text">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">id</th>
                        <th scope="col">user</th>
                        <th scope="col">date</th>
                        <th scope="col">type</th>
                        <th scope="col">round</th>
                        <th scope="col">attachments</th>
                        <th scope="col">tools</th>
                        </tr>
                    </thead>
                    <tbody>
        
                    {% for column, value in data.0.items() %}
                    {% if column == 'commits' %}
                    {% if column|length > 0 %}
                        {% for commit in value %}
                        {% if commit.commit_type == 'comment' and commit.expired == False %}
                            <tr>
                            <th scope="row"><a href="/commit/{{commit.id}}">{{commit.id}}</a></th>
                            <td><a href="/user/{{commit.user_id.id}}">{{commit.user_id.name}}</a></td>
                            <td>{{commit.subdate}}</td>
                            <td>{{commit.commit_type}}</td>
                            <td>{{commit.commit_round}}</td>
                            <td>{{commit.working_files}}</td>
                            <td><button class="btn btn-secondary" type="submit">sign off</button></td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    
                    </tbody>
                </table>
                </p>
            </div>
        </div>
        <br>




        <!-- comments expired !-->
        <div class="card" style="width: 100%;">
                <div class="card-body">   
                    Signed off
                    <p class="card-text">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            <th scope="col">id</th>
                            <th scope="col">user</th>
                            <th scope="col">date</th>
                            <th scope="col">type</th>
                            <th scope="col">round</th>
                            <th scope="col">attachments</th>
                            <th scope="col">tools</th>
                            </tr>
                        </thead>
                        <tbody>
            
                        {% for column, value in data.0.items() %}
                        {% if column == 'commits' %}
                        {% if column|length > 0 %}
                            {% for commit in value %}
                            {% if commit.commit_type == 'comment' and commit.expired == True %}
                                <tr>
                                <th scope="row"><a href="/commit/{{commit.id}}">{{commit.id}}</a></th>
                                <td><a href="/user/{{commit.user_id.id}}">{{commit.user_id.name}}</a></td>
                                <td>{{commit.subdate}}</td>
                                <td>{{commit.commit_type}}</td>
                                <td>{{commit.commit_round}}</td>
                                <td>{{commit.working_files}}</td>
                                <td><button class="btn btn-secondary" type="submit">activate</button></td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        
                        </tbody>
                    </table>
                    </p>
                </div>
            </div>
        <br>










<hr>
<small>{{data}}</small>


{% endblock %}